S3method(print,ngeo)
S3method(print,ngeo_cross_atlas)
S3method(print,ngeo_atlas_robust_effect)
S3method(print,ngeo_global_stat)
S3method(print,ngeo_getis)
S3method(print,ngeo_kernel_regression)
S3method(print,ngeo_correlogram)
S3method(print,ngeo_lisa)
S3method(print,ngeo_null)
S3method(print,ngeo_spatial_lm)
S3method(print,ngeo_variogram)
S3method(print,ngeo_space)
S3method(print,ngeo_space_registry)
S3method(print,ngeo_transform_graph)
S3method(print,ngeo_transform_path)
S3method(print,ngeo_partition)
S3method(print,ngeo_parcellation_inference)
S3method(print,ngeo_support_diagnostics)
S3method(print,ngeo_support_condition)
S3method(print,ngeo_support_covariance)
S3method(print,ngeo_support_ensemble)
S3method(print,ngeo_support_map)
S3method(print,ngeo_support_sensitivity)
S3method(print,ngeo_support_test)
S3method(print,ngeo_support_uncertainty)
S3method(print,ngeo_support_adjustment)
S3method(print,ngeo_cross_atlas_consensus)
S3method(print,ngeo_common_support_test)
S3method(print,ngeo_multiscale_inference)
S3method(print,ngeo_boundary_test)
S3method(print,ngeo_variogram_fit)
S3method(print,ngeo_variogram_uncertainty)
S3method(print,ngeo_gwr_uncertainty)
S3method(print,ngeo_spatial_regression_uncertainty)
S3method(print,ngeo_car_uncertainty)
S3method(print,ngeo_support_model_ensemble)
S3method(print,ngeo_support_bundle_output)
S3method(print,ngeo_schema_registry_30)
S3method(print,ngeo_validation_report)
S3method(print,ngeo_object_manifest)
S3method(print,ngeo_file_values)
S3method(print,ngeo_resampling_plan)
S3method(print,ngeo_resampling_diagnostics)
S3method(print,ngeo_resampling_result)
S3method(print,ngeo_time_axis)
S3method(print,ngeo_temporal_weights)
S3method(print,ngeo_spatiotemporal_weights)
S3method(print,ngeo_spatiotemporal_moran)
S3method(print,ngeo_solver_control)
S3method(print,ngeo_iterative_solution)
S3method(print,ngeo_logdet_estimate)
S3method(print,ngeo_iterative_spatial_regression)
S3method(print,ngeo_iterative_car)
S3method(print,ngeo_provenance_dag)
S3method(print,ngeo_replay_manifest)
S3method(print,ngeo_replay_result)
S3method(print,ngeo_artifact_manifest)
S3method(print,ngeo_batch_manifest)
S3method(print,ngeo_gwr_bandwidth)
S3method(print,ngeo_gwr)
S3method(print,ngeo_spatial_regression)
S3method(print,ngeo_car)
S3method(print,ngeo_support_model)
S3method(dim,ngeo_delayed_values)
S3method(dimnames,ngeo_delayed_values)
S3method("dimnames<-",ngeo_delayed_values)
S3method("[",ngeo_delayed_values)
S3method(as.matrix,ngeo_delayed_values)
S3method(print,ngeo_block_support_map)
S3method(print,ngeo_bids_name)
S3method(print,ngeo_block_support_diagnostics)
S3method(print,ngeo_resource_budget)
S3method(print,ngeo_execution_plan)
S3method(print,ngeo_stream_lm)
S3method(print,ngeo_weights)
S3method(plot,ngeo_global_stat)
S3method(plot,ngeo_getis)
S3method(plot,ngeo_correlogram)
S3method(plot,ngeo_lisa)
S3method(plot,ngeo)
S3method(plot,ngeo_partition)
S3method(plot,ngeo_support_diagnostics)
S3method(plot,ngeo_support_map)
S3method(plot,ngeo_variogram)
S3method(plot,ngeo_weights)
S3method(summary,ngeo)
importClassesFrom(Matrix,Matrix)
importFrom(stats,ave)
export(ngeo_capabilities)
export(ngeo_apply_transform)
export(ngeo_atlas_compare)
export(ngeo_atlas_overlap)
export(ngeo_atlas_map)
export(ngeo_atlas_robust_effect)
export(ngeo_affine_grid_map)
export(ngeo_boundary_sensitivity)
export(ngeo_correlogram)
export(ngeo_adjacency)
export(ngeo_aggregate)
export(ngeo_as_sf)
export(ngeo_boundary)
export(ngeo_chart_distortion)
export(ngeo_components)
export(ngeo_compose_transform)
export(ngeo_compose_support_map)
export(ngeo_domain)
export(ngeo_domain_hash)
export(ngeo_domain_type)
export(ngeo_cross_atlas)
export(ngeo_distance)
export(ngeo_export_provenance)
export(ngeo_elements)
export(ngeo_grayordinates)
export(ngeo_geary)
export(ngeo_getis_ord)
export(ngeo_invert_transform)
export(ngeo_kernel_regression)
export(ngeo_labels)
export(ngeo_label_overlap_map)
export(ngeo_local_moran)
export(ngeo_change_support)
export(ngeo_maps)
export(ngeo_metric)
export(ngeo_moran)
export(ngeo_moran_null)
export(ngeo_neighbors)
export(ngeo_measure)
export(ngeo_measures)
export(ngeo_points)
export(ngeo_partition)
export(ngeo_parcellation_inference)
export(ngeo_permutation_control)
export(ngeo_region_adjacency)
export(ngeo_provenance)
export(ngeo_probabilistic_atlas_map)
export(ngeo_registration_ensemble)
export(ngeo_regions)
export(ngeo_space)
export(ngeo_space_hash)
export(ngeo_space_audit)
export(ngeo_space_registry)
export(ngeo_validate_space_registry)
export(ngeo_register_space)
export(ngeo_resolve_space)
export(ngeo_transform_hash)
export(ngeo_transform_graph)
export(ngeo_add_transform)
export(ngeo_validate_transform_graph)
export(ngeo_transform_path)
export(ngeo_transform_graph_diagnostics)
export(ngeo_transform_path_provenance)
export(ngeo_apply_transform_path)
export(ngeo_spin_null)
export(ngeo_spatial_lm)
export(ngeo_set_chart)
export(ngeo_support_size)
export(ngeo_support_map)
export(ngeo_support_map_hash)
export(ngeo_support_map_from_partition)
export(ngeo_support_diagnostics)
export(ngeo_support_condition)
export(ngeo_support_covariance)
export(ngeo_support_entropy)
export(ngeo_support_ensemble)
export(ngeo_support_monte_carlo)
export(ngeo_support_sensitivity)
export(ngeo_support_test)
export(ngeo_support_uncertainty)
export(ngeo_support_adjust)
export(ngeo_cross_atlas_consensus)
export(ngeo_common_support_test)
export(ngeo_multiscale_inference)
export(ngeo_boundary_test)
export(ngeo_fit_variogram)
export(ngeo_variogram_uncertainty)
export(ngeo_kriging_uncertainty)
export(ngeo_gwr_uncertainty)
export(ngeo_spatial_regression_uncertainty)
export(ngeo_car_uncertainty)
export(ngeo_support_model_ensemble)
export(ngeo_model_calibration)
export(ngeo_conformance_manifest)
export(ngeo_compatibility_matrix)
export(ngeo_api_inventory)
export(ngeo_api_lifecycle)
export(ngeo_kriging)
export(ngeo_gwr_bandwidth)
export(ngeo_gwr)
export(ngeo_spatial_regression)
export(ngeo_car)
export(ngeo_support_model)
export(ngeo_delayed_values)
export(ngeo_value_chunks)
export(ngeo_block_support_map)
export(ngeo_validate_block_support_map)
export(ngeo_materialize_support_map)
export(ngeo_change_support_block)
export(ngeo_block_diagnostics)
export(ngeo_block_variance)
export(ngeo_compose_block_support_map)
export(ngeo_resource_budget)
export(ngeo_execution_plan)
export(ngeo_execute)
export(ngeo_cache)
export(ngeo_cache_compute)
export(ngeo_atomic_write)
export(ngeo_stream_summary)
export(ngeo_stream_covariance)
export(ngeo_stream_lm)
export(ngeo_stream_moran)
export(write_ngeo_cifti)
export(ngeo_validate_cifti_contract)
export(ngeo_schema_registry)
export(ngeo_schema)
export(ngeo_validate_schema)
export(ngeo_object_manifest)
export(ngeo_validate_manifest)
export(write_ngeo_manifest)
export(read_ngeo_manifest)
export(ngeo_migrate_schema)
export(ngeo_file_values)
export(ngeo_validate_file_values)
export(ngeo_file_values_identity)
export(read_ngeo_nifti_filebacked)
export(read_ngeo_cifti_filebacked)
export(read_ngeo_mgh_filebacked)
export(read_ngeo_filebacked)
export(write_ngeo_filebacked)
export(ngeo_resampling_plan)
export(ngeo_validate_resampling_plan)
export(ngeo_build_resampling_map)
export(ngeo_resampling_diagnostics)
export(ngeo_resample)
export(ngeo_time_axis)
export(ngeo_validate_time_axis)
export(ngeo_time_axis_hash)
export(ngeo_set_time_axis)
export(ngeo_get_time_axis)
export(ngeo_time_slice)
export(ngeo_temporal_weights)
export(ngeo_validate_temporal_weights)
export(ngeo_temporal_neighbors)
export(ngeo_spatiotemporal_weights)
export(ngeo_validate_spatiotemporal_weights)
export(ngeo_materialize_spatiotemporal_weights)
export(ngeo_spatiotemporal_lag)
export(ngeo_temporal_moran)
export(ngeo_spatiotemporal_moran)
export(ngeo_temporal_variogram)
export(ngeo_spatiotemporal_variogram)
export(ngeo_longitudinal_change)
export(ngeo_temporal_trend)
export(ngeo_temporal_contrast)
export(ngeo_solver_control)
export(ngeo_validate_solver_control)
export(ngeo_iterative_solve)
export(ngeo_logdet_approx)
export(ngeo_spatial_regression_iterative)
export(ngeo_car_iterative)
export(ngeo_gwr_batched)
export(ngeo_kriging_batched)
export(ngeo_provenance_dag)
export(ngeo_validate_provenance_dag)
export(ngeo_environment_snapshot)
export(ngeo_logical_hash)
export(ngeo_replay_step)
export(ngeo_record_replay)
export(ngeo_validate_replay_manifest)
export(ngeo_replay)
export(write_ngeo_replay_manifest)
export(read_ngeo_replay_manifest)
export(ngeo_artifact_manifest)
export(ngeo_validate_artifact_manifest)
export(write_ngeo_artifact_manifest)
export(read_ngeo_artifact_manifest)
export(ngeo_validate_artifact_batch)
export(ngeo_write_artifact_batch)
export(ngeo_read_artifact_batch)
export(ngeo_bids_sidecar)
export(ngeo_bids_parse_name)
export(ngeo_bids_build_name)
export(ngeo_validate_bids_sidecar)
export(write_ngeo_bids_derivative)
export(ngeo_support_variance)
export(ngeo_subset)
export(ngeo_surface)
export(ngeo_surface_barycentric_map)
export(ngeo_surface_nearest_map)
export(ngeo_surface_registration_map)
export(ngeo_transform)
export(ngeo_validate)
export(ngeo_validate_support_map)
export(ngeo_validate_support_covariance)
export(ngeo_validate_support_ensemble)
export(ngeo_validate_transform)
export(ngeo_variogram)
export(ngeo_values)
export(ngeo_vertex_area)
export(ngeo_volume)
export(ngeo_voxel_volume)
export(ngeo_voxel_overlap_map)
export(ngeo_segmentation_ensemble)
export(ngeo_weights)
export(as_igraph)
export(as_spdep_listw)
export(as_spdep_nb)
export(read_ngeo)
export(read_ngeo_cifti)
export(read_ngeo_freesurfer)
export(read_ngeo_gifti)
export(read_ngeo_nifti)
export(read_ngeo_support_map)
export(read_ngeo_support_bundle)
export(write_ngeo)
export(write_ngeo_freesurfer)
export(write_ngeo_gifti)
export(write_ngeo_nifti)
export(write_ngeo_support_map)
export(write_ngeo_support_bundle)
export(ngeo_validate_support_bundle)
export(ngeo_migrate_support_map_exchange)
